#root {
	background-image: url(https://camo.githubusercontent.com/5b8e4cd1a5ce69b6affa17ebd8e4aee00c147618/68747470733a2f2f7374796c6973687468656d65732e6769746875622e696f2f4769744875622d4461726b2f696d616765732f6261636b67726f756e64732f62672d63726f737368617463682e706e67);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
}

.whiteLink {
  color: lightblue;
	text-decoration: none;
}

.container {
	height: 100%;
	background-color: #343434;
	border: 1px solid #5b5c5e;
	border-radius: 3px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.container-group {
	height: 100%;
	width: 100%;
}

.left-container {
	height: 100%;
	width: 30%;
	background-color: #343434;
}

.right-container {
	height: 100%;
	width: 70%;
	background-color: #474747;
	border-left: 1px solid #5b5c5e;
}

.right-content-container {
	padding: 20px;
	width: 100%;
	height: 100%;
	color: white;
}

.right-content-container > hr {
	border-color: #5b5c5e;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

.centered {
	text-align: center;
}

.icons-container {
	display: flex;
	justify-content: space-evenly;
}

.job-period {
	display: flex;
	justify-content: space-between;
}

.job-period-h4 {
	margin-bottom: .5rem;
	font-family: inherit;
	font-size: 1.2em;
	font-weight: 200;
	line-height: 0;
	color: white;
	text-decoration-color: white;
}

h1 {
	margin-bottom: .5rem;
	font-family: inherit;
	font-size: 3.0em;
	font-weight: 200;
	line-height: 1.2;
	color: inherit;
}

h2 {
	margin-top: 50px;
	margin-bottom: .5rem;
	font-family: inherit;
	font-size: 1.6em;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

h3 {
	margin-bottom: .1rem;
	font-family: inherit;
	font-size: 1.5em;
	font-weight: 200;
	line-height: 1.2;
	color: inherit;
}

.profile-pic {
	margin: 20px 0px;
	border-radius: 10px;
	width: 250px;
	height: 250px;
}

.certification-container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}

.certification-pic {
	width: 100px;
	height: 100px;
}
