#root {
	background-image: url(https://camo.githubusercontent.com/5b8e4cd1a5ce69b6affa17ebd8e4aee00c147618/68747470733a2f2f7374796c6973687468656d65732e6769746875622e696f2f4769744875622d4461726b2f696d616765732f6261636b67726f756e64732f62672d63726f737368617463682e706e67)
}

.container {
	height: 200vh;
	background-color: #343434;
	border: 1px solid #5b5c5e;
	border-radius: 3px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.container-group {
	height: 100%;
	width: 100%;
}

.left-container {
	height: 100%;
	width: 30%;
	background-color: #343434;
}

.centered {
	text-align: center;
}

.icons-container {
	display: flex;
	justify-content: space-evenly;
}

.job-period {
	display: flex;
	justify-content: space-between;
}

.right-container {
	height: 100%;
	width: 70%;
	background-color: #474747;
	border-left: 1px solid #5b5c5e;
}

.right-content-container {
	padding: 20px;
	width: 100%;
	height: 100%;
	color: lightgrey;
}

.right-content-container > hr {
	border-color: #5b5c5e;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

.profile-pic {
	margin: 20px 0px;
	border-radius: 10px;
	width: 250px;
	height: 250px;
}

.certification-container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}

.certification-pic {
	width: 90px;
	height: 90px;
}